#header-container {
  width: 100%;
  background-color: #121212;
  color: #ffffff;
  
}

header {
  padding: 1rem 2rem;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: -0.5px;
  transition-duration: 0.3s;
}

#logo:hover{
  color: #00a9a9;
}

.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  transition-duration: 0.3s;
}

.navbar a:hover{
  color: #00a9a9;
}

.account-button {
  background-color: #00a9a9;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.account-button:hover{
  background-color: #4cbfbf;
  color: white;
}

#free-signup:hover{
  color: white;
}

#username{
  letter-spacing: -0.5px;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #1e1e1e;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    display: none;
  }

  .navbar.open {
    display: flex;
  }

  .account-button {
    margin-top: 1rem;
  }
}